@tailwind base;
@tailwind components;
@tailwind utilities;


/* Nunito font  */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');



/* EB garamound font  */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


:root {
  --primary-color: 39,40,47;
  --secondary-color: 204,204,204;
  --black: 0,0,0;
  --tertiary-color: 0,169,226;
  --tertiary-color-dark: 0,132,181;
  --white: 255,255,255;
  --grey: 61,61,61;
  --pink: 233,12,218;

  --primary-font: 'Raleway', sans-serif;
  --logo-font: 'EB garamond', sans-serif;
}

.logo-font {
  font-family: var(--logo-font);
}
   
* {
  /* font-family: var(--primary-font); */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font), serif;
}

section *::selection {
  color: rgb(var(--black));
  background-color: #FFFF00;
  border: 2px solid red;
}

h1, .h1-style {
  font-size: clamp(2rem, 5vw, 4rem);
}

h2, .h2-style {
  font-size: clamp(1.5rem, 3.5vw, 2.5rem) !important;
}

h3, .h3-style {
  font-size: clamp(1.3rem, 3vw, 2rem) !important;
}


p, .p-style {
  font-size: clamp(1.2rem, 2vw, 1.3rem) !important;
}


li {
  padding: 10px;
}

.style-module-section {
  color: black;
  z-index: 50;
  width: 100%;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: start;
}

.style-page-section {
  color: white;
  z-index: 50;
  width: 100%;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: start;
}

@media only screen and (min-width: 640px) {
  .style-module-section {
    padding-top: 5rem;
  }
}

@media only screen and (min-width: 768px) {
  .style-module-section {
    padding-top: 10rem;
  }
}



.link {
  color: rgb(var(--tertiary-color));
  font-style: italic;
}

.link:hover {
  color: inherit;
  font-style: italic;
}


/* buttons  */
.button-style {
  padding: 0.55em 1.4em;
  width: max-content;
  letter-spacing: normal !important;
}


/* this is for the option section  */
.option-container > div{
  width: clamp(300px, 25vw 500px) !important;
}

.paragraph-width {
  width: 300px;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(var(--black)) !important;
  /* font-family: 'Roboto', sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
} 


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Nunito&display=swap');

.design-font {
  font-family: 'Abril Fatface', cursive;
}

.checkMark {
  width: 20px;
  height: 20px;
  background-color: rgb(var(--white));
  display: grid;
  place-items: center;
  border: 1px solid black;
  /* border-radius: 50%; */
  flex-shrink: 0;
}

.checkMark > .marked {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  /* border-radius: 50%; */
  /* background-color: rgb(var(--black)); */
  background-color: black;
}

.checkMark > .unMarked {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  /* border-radius: 50%; */
}

.warning-word {
  color: red;
}

.careful-word {
  color: orange;
  
}

.positive-word {
  color: rgb(5, 100, 5);
  font-weight: bold;
}

.new-word {
  color: rgb(0, 63, 156);
  font-weight: bold;
}

