@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Nunito&display=swap');


:root {
  --primary-color: 39,40,47;
  --secondary-color: 204,204,204;
  --black: 0,0,0;
  --tertiary-color: 0,169,226;
  --tertiary-color-dark: 0,132,181;
  --white: 255,255,255;
  --grey: 61,61,61;
  --pink: 233,12,218;
}


section *::selection {
  color: rgb(var(--black));
  background-color: #FFFF00;
  border: 2px solid red;
}

h1, .h1-style {
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: 'Nunito', sans-serif;
}

h2, .h2-style {
  font-size: clamp(1.5rem, 2vw, 3rem) !important;
  font-family: 'Nunito', sans-serif;
}

h3, .h3-style {
  font-size: clamp(1.3rem, 1.5vw, 2rem) !important;
  font-family: 'Nunito', sans-serif;
}


p {
  font-size: clamp(18px, 1vw, 1.5rem) !important;
  font-family: 'Nunito', sans-serif;
}

.link {
  color: rgb(var(--pink));
  text-decoration: underline;
  font-weight: bold;
}


/* buttons  */
.button-style {
  padding: 0.55em 1.4em;
  width: max-content;
  letter-spacing: normal !important;
}


/* this is for the option section  */
.option-container > div{
  width: clamp(300px, 25vw 500px) !important;
}

.paragraph-width {
  width: 300px;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(var(--white)) !important;
  font-family: 'Roboto', sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
} 


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.design-font {
  font-family: 'Abril Fatface', cursive;
  /* font-family: 'Nunito', sans-serif; */
}

.checkMark {
  width: 20px;
  height: 20px;
  background-color: rgb(var(--white));
  display: grid;
  place-items: center;
  border: 1px solid black;
  /* border-radius: 50%; */
  flex-shrink: 0;
}

.checkMark > .marked {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  /* border-radius: 50%; */
  /* background-color: rgb(var(--black)); */
  background-color: black;
}

.checkMark > .unMarked {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  /* border-radius: 50%; */
}

.warning-word {
  color: red;
  font-weight: bold;
}

.careful-word {
  color: orange;
  font-weight: bold;
}

.positive-word {
  color: rgb(5, 100, 5);
  font-weight: bold;
}

.new-word {
  color: rgb(27, 79, 156);
  font-weight: bold;
}
